<footer class="text-muted small bg-dark py-4" id="footer">
	<div class="container">
		<div class="row">
			<div class="col">
				<!--{hook footer_footer_left_start.htm}-->
				<!-- Powered by <a href="http://bbs.xiuno.com/" target="_blank" class="text-muted"><b>Xiuno BBS <span></span></b></a> -->
				酷米1 <a href="http://www.mi.cool/" target="_blank" class="text-muted"><b>mi.cool <span>2018</span></b></a>
				<!--{hook footer_footer_left_end.htm}-->
			</div>
			<div class="col text-right">
				<!--{hook footer_footer_right_start.htm}-->
				<!--{hook footer_footer_right_end.htm}-->
			</div>
		</div>
	</div>
</footer>
